div {
    height: 20px;
    width: 100px;
    border-color: blue;
    margin-right: 5vh;
}

p {
    margin: 0;
}

#full-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vh;
    align-items: center;
    justify-content: center;
}

#dashboard {
    left: 0;
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vh;
}

#left-bar {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 15vh;
    margin-right: 10vh;
}

#request-share, #offices, #doctors, #highlights {
    min-height: 10vh;
    max-width: 40vh;
}

#main {
    height: 90vh;
    width: 85vh;
    display: flex;
    flex-direction: row;
}

#request-share {
    display: flex;
    flex-direction: column;
    height: 5vh;
}

#user-type, #temp-account {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100vh;
}

#upload-box {
    display: none;
}

#upload-button {
    height: 5vh;
}

#files {
    height: 90vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
}

#fileBox {
    display: flex;
    flex-direction: row;
    width: 50vh;
    height: 5vh;
}

#hideFile {
    background-color: orange;
    color: white;
    height: 5vh;
    margin-bottom: 2vh;
}

#showFile {
    background-color: green;
    color: white;
    height: 5vh;
    margin-bottom: 2vh;
}

#deleteButton {
    background-color: red;
    color: white;
    height: 5vh;
    margin-bottom: 2vh;
}